[submodule "ros/ros2_ws/src/YDLidar-SDK"]
	path = ros/ros2_ws/src/YDLidar-SDK
	url = https://github.com/YDLIDAR/YDLidar-SDK.git


[submodule "ros/ros2_ws/src/ydlidar_ros2_driver"]
   path = ros/ros2_ws/src/ydlidar_ros2_driver
   url = https://github.com/YDLIDAR/ydlidar_ros2_driver.git